table td {

	position: relative;
}

table th {

	overflow: hidden;
} 

table {

	table-layout: fixed;
}

table td input {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	border: none;
	padding: 10px;
	box-sizing: border-box;
}

table td myButton {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	border: none;
	padding: none;
	box-sizing: border-box;
}